//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext);
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1300 + 10;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #fff;
	font-size: 14px;
	// background: url(../img/main-bg.jpg) center center / cover repeat-y;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding:  0px 5px;
	@media (max-width: $md1+px) {
		padding: 0px 20px;
	}
	@media (max-width: $md2+px) {
		padding: 0px 10px;
	}
	@media (max-width: $md3+px) {
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<Страничные параметры>===============================================================================================
section{
	padding: 100px 0px 100px;
    @media screen and (max-width:1150px){
        padding: 100px 0px 75px;
    }
	@media screen and (max-width:768px){
        padding: 50px 0px 50px;
    }
	@media screen and (max-width:500px){
        padding: 25px 0px 35px;
    }
}
.title{
	display: flex;
	align-items: center;
	@media screen and (max-width:600px){
		flex-direction: column;
		width: 100%;
		align-items: center;
	}
	picture{
		flex: 0 0 127px;
		height: 127px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		@media screen and (max-width:600px){
			margin-right: 0;
		}
		@media screen and (max-width:450px){
			flex: 0 0 91px;
		}
	}
	img{
		flex: 0 0 76px;
		@media screen and (max-width:600px){
			margin-right: 0;
			flex: 0 0 60px;
		}
	}
	p{
		font-weight: bold;
		font-size: 48px;
		line-height: 140%;
		color: #FFFFFF;
		white-space: nowrap;
		@media screen and (max-width:600px){
			font-size: 35px;
		}
	}
}
//</Страничные параметры>===============================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
// @import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	background: url(../img/main-bg.jpg)center center / cover repeat-y;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
